*.sw[pmno]
*.pyc
*.egg-info
*.dat
*.lock
*.so
*_wrapper.cpp
*_wrapper.c
.coverage
build
dist
.vscode
docs/_build/
coverage.xml
site

# remove me to enforce synchrony across development environments
uv.lock
